##Connecting to S3

##Patient_records Data

In [0]:
pat_df = spark.read.options(header= "True", inferSchema = "True").csv("s3://takeobucket/capstone/patients_records/Patient_records.csv")
pat_df.show()

+----------+------------+--------------+------------------+--------------+----------------+--------------------+-----------+
|Patient_id|Patient_name|patient_gender|patient_birth_date| patient_phone|    disease_name|                city|hospital_id|
+----------+------------+--------------+------------------+--------------+----------------+--------------------+-----------+
|    187158|      Harbir|        Female|        1924-06-30|+91 0112009318|    Galactosemia|            Rourkela|      H1001|
|    112766|    Brahmdev|        Female|        1948-12-20|+91 1727749552|  Bladder cancer|        Tiruvottiyur|      H1016|
|    199252|     Ujjawal|          Male|        1980-04-16|+91 8547451606|   Kidney cancer|           Berhampur|      H1009|
|    133424|     Ballari|        Female|        1969-09-25|+91 0106026841|         Suicide|        Bihar Sharif|      H1017|
|    172579|     Devnath|        Female|        1946-05-01|+91 1868774631|    Food allergy|         Bidhannagar|      H1019|
|    171320|       Atasi|          Male|        1967-10-02|+91 9747336855|        Whiplash|            Amravati|      H1013|
|    107794|      Manish|          Male|        1967-06-06|+91 4354294043|      Sunbathing|              Panvel|      H1004|
|    130339|       Aakar|        Female|        1925-03-05|+91 2777633911|Drug consumption|        Bihar Sharif|      H1000|
|    110377|     Gurudas|          Male|        1945-05-06|+91 1232859381|          Dengue|           Kamarhati|      H1001|
|    149367|        null|          Male|        1925-06-12|+91 1780763280|    Head banging|           Bangalore|      H1013|
|    156168|        null|          Male|        1976-02-03|+91 5586075345| Fanconi anaemia|              Rajkot|      H1004|
|    114241|        null|        Female|        1955-01-22|+91 4146391938|   Breast cancer|           Ghaziabad|      H1015|
|    146382|  Dharmadaas|          Male|        1964-04-29|+91 6345482027|         Anthrax|Bhalswa Jahangir Pur|      H1019|
|    132748|    Brahmvir|          Male|        1991-11-11|+91 7316972612| Cystic fibrosis|              Ambala|      H1018|
|    167340|        null|        Female|        1981-01-25|+91 2960004518|    Galactosemia|Surendranagar Dud...|      H1003|
|    135184|     Bhagvan|        Female|        1966-07-24|+91 0297693485|          Dengue|          Bhimavaram|      H1018|
|    179662|   Amritkala|        Female|        1933-11-20|+91 0537157280|        Smallpox|              Meerut|      H1018|
|    184479|      Bandhu|          Male|        1996-10-15|+91 0695289163|  Pollen allergy|           Chinsurah|      H1010|
|    156988|  Bhagavaana|        Female|        1935-09-16|+91 6071745855|   Breast cancer|        Shahjahanpur|      H1012|
|    132870|        null|        Female|        1924-11-09|+91 8906694405|        Glaucoma|            Jabalpur|      H1017|
+----------+------------+--------------+------------------+--------------+----------------+--------------------+-----------+
only showing top 20 rows

###Checking and counting for Null values in patient table

In [0]:
from pyspark.sql.functions import col, when, count
df2 = pat_df.select([count(when((col(c).contains('None')) | 
                                (col(c).contains('NULL')) |
                                (col(c).contains('NaN')) |
                                (col(c) == ' ') | 
                                col(c).isNull(), 
                               True)
                            ).alias(c)
                    for c in pat_df.columns])
df2.show()

+----------+------------+--------------+------------------+-------------+------------+----+-----------+
|Patient_id|Patient_name|patient_gender|patient_birth_date|patient_phone|disease_name|city|hospital_id|
+----------+------------+--------------+------------------+-------------+------------+----+-----------+
|         0|          17|             0|                 0|            2|           0|   0|          0|
+----------+------------+--------------+------------------+-------------+------------+----+-----------+

###Replacing null values

In [0]:
from pyspark.sql.functions import col, when, desc

null_representations = ['None', 'null', ' ', 'NULL', 'NaN']

pat_cleaned = pat_df
for con in pat_df.columns:
    pat_cleaned = pat_cleaned.withColumn(con, when(col(con).isin(null_representations) | col(con).isNull(), "NA").otherwise(col(con)))
pat_cleaned.show()

+----------+------------+--------------+------------------+--------------+----------------+--------------------+-----------+
|Patient_id|Patient_name|patient_gender|patient_birth_date| patient_phone|    disease_name|                city|hospital_id|
+----------+------------+--------------+------------------+--------------+----------------+--------------------+-----------+
|    187158|      Harbir|        Female|        1924-06-30|+91 0112009318|    Galactosemia|            Rourkela|      H1001|
|    112766|    Brahmdev|        Female|        1948-12-20|+91 1727749552|  Bladder cancer|        Tiruvottiyur|      H1016|
|    199252|     Ujjawal|          Male|        1980-04-16|+91 8547451606|   Kidney cancer|           Berhampur|      H1009|
|    133424|     Ballari|        Female|        1969-09-25|+91 0106026841|         Suicide|        Bihar Sharif|      H1017|
|    172579|     Devnath|        Female|        1946-05-01|+91 1868774631|    Food allergy|         Bidhannagar|      H1019|
|    171320|       Atasi|          Male|        1967-10-02|+91 9747336855|        Whiplash|            Amravati|      H1013|
|    107794|      Manish|          Male|        1967-06-06|+91 4354294043|      Sunbathing|              Panvel|      H1004|
|    130339|       Aakar|        Female|        1925-03-05|+91 2777633911|Drug consumption|        Bihar Sharif|      H1000|
|    110377|     Gurudas|          Male|        1945-05-06|+91 1232859381|          Dengue|           Kamarhati|      H1001|
|    149367|          NA|          Male|        1925-06-12|+91 1780763280|    Head banging|           Bangalore|      H1013|
|    156168|          NA|          Male|        1976-02-03|+91 5586075345| Fanconi anaemia|              Rajkot|      H1004|
|    114241|          NA|        Female|        1955-01-22|+91 4146391938|   Breast cancer|           Ghaziabad|      H1015|
|    146382|  Dharmadaas|          Male|        1964-04-29|+91 6345482027|         Anthrax|Bhalswa Jahangir Pur|      H1019|
|    132748|    Brahmvir|          Male|        1991-11-11|+91 7316972612| Cystic fibrosis|              Ambala|      H1018|
|    167340|          NA|        Female|        1981-01-25|+91 2960004518|    Galactosemia|Surendranagar Dud...|      H1003|
|    135184|     Bhagvan|        Female|        1966-07-24|+91 0297693485|          Dengue|          Bhimavaram|      H1018|
|    179662|   Amritkala|        Female|        1933-11-20|+91 0537157280|        Smallpox|              Meerut|      H1018|
|    184479|      Bandhu|          Male|        1996-10-15|+91 0695289163|  Pollen allergy|           Chinsurah|      H1010|
|    156988|  Bhagavaana|        Female|        1935-09-16|+91 6071745855|   Breast cancer|        Shahjahanpur|      H1012|
|    132870|          NA|        Female|        1924-11-09|+91 8906694405|        Glaucoma|            Jabalpur|      H1017|
+----------+------------+--------------+------------------+--------------+----------------+--------------------+-----------+
only showing top 20 rows

### Null Values before and after Replacement

In [0]:
import pyspark.sql.functions as F 

null_counts_before = pat_df.select([col(c).isNull().cast("int").alias(c) for c in pat_df.columns])\
    .agg(*[F.sum(c).alias(c) for c in pat_df.columns])

# Count null values after replacement
null_counts_after = pat_cleaned.select([col(c).isNull().cast("int").alias(c) for c in pat_cleaned.columns]).agg(*[F.sum(c).alias(c) for c in pat_cleaned.columns])

# Show the counts before and after
print("Null counts before replacement:")
null_counts_before.show()

print("Null counts after replacement:")
null_counts_after.show()

Null counts before replacement:
+----------+------------+--------------+------------------+-------------+------------+----+-----------+
|Patient_id|Patient_name|patient_gender|patient_birth_date|patient_phone|disease_name|city|hospital_id|
+----------+------------+--------------+------------------+-------------+------------+----+-----------+
|         0|          17|             0|                 0|            2|           0|   0|          0|
+----------+------------+--------------+------------------+-------------+------------+----+-----------+

Null counts after replacement:
+----------+------------+--------------+------------------+-------------+------------+----+-----------+
|Patient_id|Patient_name|patient_gender|patient_birth_date|patient_phone|disease_name|city|hospital_id|
+----------+------------+--------------+------------------+-------------+------------+----+-----------+
|         0|           0|             0|                 0|            0|           0|   0|          0|
+----------+------------+--------------+------------------+-------------+------------+----+-----------+

### Checking Duplicates & dropping them

In [0]:
df3= pat_df.groupBy("Patient_Id").count()
df4 = df3.filter(col("count")> 1)
df4.show()
# there are no duplicate entries

+----------+-----+
|Patient_Id|count|
+----------+-----+
+----------+-----+

## Subscribers Data

In [0]:
sub_df = spark.read.options(header= "True", inferSchema = "True").csv("s3://takeobucket/capstone/subscriber/subscriber.csv")
sub_df.show()

+----------+----------+-----------+-----------------+----------+------+--------------+-------+--------------------+--------+---------+--------+----------+----------+
|   sub _id|first_name|  last_name|           Street|Birth_date|Gender|         Phone|Country|                City|Zip Code|Subgrp_id|Elig_ind|  eff_date| term_date|
+----------+----------+-----------+-----------------+----------+------+--------------+-------+--------------------+--------+---------+--------+----------+----------+
|SUBID10000|    Harbir|Vishwakarma|       Baria Marg|1924-06-30|Female|+91 0112009318|  India|            Rourkela|  767058|     S107|       Y|1944-06-30|1954-01-14|
|SUBID10001|  Brahmdev|     Sonkar|        Lala Marg|1948-12-20|Female|+91 1727749552|  India|        Tiruvottiyur|   34639|     S105|       Y|1968-12-20|1970-05-16|
|SUBID10002|   Ujjawal|       Devi|      Mammen Zila|1980-04-16|  Male|+91 8547451606|  India|           Berhampur|  914455|     S106|       N|2000-04-16|2008-05-04|
|SUBID10003|   Ballari|     Mishra|       Sahni Zila|1969-09-25|Female|+91 0106026841|  India|        Bihar Sharif|   91481|     S104|       N|1989-09-25|1995-06-05|
|SUBID10004|   Devnath|  Srivastav|       Magar Zila|1946-05-01|Female|+91 1868774631|  India|         Bidhannagar|  531742|     S110|       N|1966-05-01|1970-12-09|
|SUBID10005|     Atasi|       Seth|     Khatri Nagar|1967-10-02|  Male|+91 9747336855|  India|            Amravati|  229062|     S104|       Y|1987-10-02|1995-02-13|
| SUBID1006|    Manish|     Maurya|Swaminathan Chowk|1967-06-06|  Male|+91 4354294043|  India|              Panvel|  438733|     S109|    null|1987-06-06|1995-03-21|
|SUBID10007|     Aakar|      Yadav|            Swamy|1925-03-05|Female|+91 2777633911|  India|        Bihar Sharif|  535907|     S104|       N|1945-03-05|1946-11-07|
|SUBID10008|   Gurudas|      Gupta|      Sarin Nagar|1945-05-06|  Male|+91 1232859381|  India|           Kamarhati|  933226|     S103|       Y|1965-05-06|1970-09-16|
|SUBID10009|      null|      Gupta|    Thakur Circle|1925-06-12|  Male|+91 1780763280|  India|           Bangalore|  957469|     S105|       Y|1945-06-12|1953-08-30|
| SUBID1010|      null|     Divedi|          Dhillon|1976-02-03|  Male|+91 5586075345|  India|              Rajkot|  911319|     S102|       Y|1996-02-03|2002-01-27|
|SUBID10011|      null|Vishwakarma|      Rajagopalan|1955-01-22|Female|+91 4146391938|  India|           Ghaziabad|  337042|     S106|       N|1975-01-22|1978-11-02|
|SUBID10012|Dharmadaas|     Tiwari|             Rama|1964-04-29|  Male|+91 6345482027|  India|Bhalswa Jahangir Pur|  430793|     S103|       N|1984-04-29|1988-02-07|
|SUBID10013|  Brahmvir|        Rai|        Shah Path|1991-11-11|  Male|+91 7316972612|  India|              Ambala|  249898|     S106|       N|2011-11-11|2020-05-23|
|SUBID10014|      null|  Srivastav|     Chandra Path|1981-01-25|Female|+91 2960004518|  India|Surendranagar Dud...|  111966|     S102|       N|2001-01-25|2005-07-13|
|SUBID10015|   Bhagvan|  Srivastav|            Edwin|1966-07-24|Female|+91 0297693485|  India|          Bhimavaram|  436513|     S105|       Y|1986-07-24|1988-02-04|
|SUBID10016| Amritkala|  Srivastav|        Guha Path|1933-11-20|Female|+91 0537157280|  India|              Meerut|  863467|     S106|       Y|1953-11-20|1955-07-29|
|SUBID10017|    Bandhu|       Seth|        Varughese|1996-10-15|  Male|+91 0695289163|  India|           Chinsurah|  136713|     S108|       N|2016-10-15|2018-06-08|
|SUBID10018|Bhagavaana|      Kumar|    Kulkarni Zila|1935-09-16|Female|+91 6071745855|  India|        Shahjahanpur|  597276|     S101|       N|1955-09-16|1958-05-31|
|SUBID10019|      null|     Maurya|     Sharaf Nagar|1924-11-09|Female|+91 8906694405|  India|            Jabalpur|  958538|     S104|       N|1944-11-09|1951-10-14|
+----------+----------+-----------+-----------------+----------+------+--------------+-------+--------------------+--------+---------+--------+----------+----------+
only showing top 20 rows

###Checking and counting for Null values in Subscribers table

In [0]:
df5 = sub_df.select([count(when((col(c).contains('None')) | 
                                (col(c).contains('NULL')) | 
                                (col(c).contains('NaN')) |
                                (col(c) == ' ') | 
                                col(c).isNull(), 
                               True)
                            ).alias(c)
                    for c in sub_df.columns])
df5.show()

+-------+----------+---------+------+----------+------+-----+-------+----+--------+---------+--------+--------+---------+
|sub _id|first_name|last_name|Street|Birth_date|Gender|Phone|Country|City|Zip Code|Subgrp_id|Elig_ind|eff_date|term_date|
+-------+----------+---------+------+----------+------+-----+-------+----+--------+---------+--------+--------+---------+
|      0|        27|        0|     0|         0|     0|    3|      0|   0|       0|        2|       4|       0|        0|
+-------+----------+---------+------+----------+------+-----+-------+----+--------+---------+--------+--------+---------+

###Replacing null values

In [0]:
null_representations = ['None', 'null', ' ', 'isnull','NaN']

sub_cleaned = sub_df
for con in sub_df.columns:
    # Replacing representations of null values with "NA"
    sub_cleaned = sub_cleaned.withColumn(con, when(col(con).isin(null_representations) | col(con).isNull(), "NA").otherwise(col(con)))
sub_cleaned.show()

+----------+----------+-----------+-----------------+----------+------+--------------+-------+--------------------+--------+---------+--------+----------+----------+
|   sub _id|first_name|  last_name|           Street|Birth_date|Gender|         Phone|Country|                City|Zip Code|Subgrp_id|Elig_ind|  eff_date| term_date|
+----------+----------+-----------+-----------------+----------+------+--------------+-------+--------------------+--------+---------+--------+----------+----------+
|SUBID10000|    Harbir|Vishwakarma|       Baria Marg|1924-06-30|Female|+91 0112009318|  India|            Rourkela|  767058|     S107|       Y|1944-06-30|1954-01-14|
|SUBID10001|  Brahmdev|     Sonkar|        Lala Marg|1948-12-20|Female|+91 1727749552|  India|        Tiruvottiyur|   34639|     S105|       Y|1968-12-20|1970-05-16|
|SUBID10002|   Ujjawal|       Devi|      Mammen Zila|1980-04-16|  Male|+91 8547451606|  India|           Berhampur|  914455|     S106|       N|2000-04-16|2008-05-04|
|SUBID10003|   Ballari|     Mishra|       Sahni Zila|1969-09-25|Female|+91 0106026841|  India|        Bihar Sharif|   91481|     S104|       N|1989-09-25|1995-06-05|
|SUBID10004|   Devnath|  Srivastav|       Magar Zila|1946-05-01|Female|+91 1868774631|  India|         Bidhannagar|  531742|     S110|       N|1966-05-01|1970-12-09|
|SUBID10005|     Atasi|       Seth|     Khatri Nagar|1967-10-02|  Male|+91 9747336855|  India|            Amravati|  229062|     S104|       Y|1987-10-02|1995-02-13|
| SUBID1006|    Manish|     Maurya|Swaminathan Chowk|1967-06-06|  Male|+91 4354294043|  India|              Panvel|  438733|     S109|      NA|1987-06-06|1995-03-21|
|SUBID10007|     Aakar|      Yadav|            Swamy|1925-03-05|Female|+91 2777633911|  India|        Bihar Sharif|  535907|     S104|       N|1945-03-05|1946-11-07|
|SUBID10008|   Gurudas|      Gupta|      Sarin Nagar|1945-05-06|  Male|+91 1232859381|  India|           Kamarhati|  933226|     S103|       Y|1965-05-06|1970-09-16|
|SUBID10009|        NA|      Gupta|    Thakur Circle|1925-06-12|  Male|+91 1780763280|  India|           Bangalore|  957469|     S105|       Y|1945-06-12|1953-08-30|
| SUBID1010|        NA|     Divedi|          Dhillon|1976-02-03|  Male|+91 5586075345|  India|              Rajkot|  911319|     S102|       Y|1996-02-03|2002-01-27|
|SUBID10011|        NA|Vishwakarma|      Rajagopalan|1955-01-22|Female|+91 4146391938|  India|           Ghaziabad|  337042|     S106|       N|1975-01-22|1978-11-02|
|SUBID10012|Dharmadaas|     Tiwari|             Rama|1964-04-29|  Male|+91 6345482027|  India|Bhalswa Jahangir Pur|  430793|     S103|       N|1984-04-29|1988-02-07|
|SUBID10013|  Brahmvir|        Rai|        Shah Path|1991-11-11|  Male|+91 7316972612|  India|              Ambala|  249898|     S106|       N|2011-11-11|2020-05-23|
|SUBID10014|        NA|  Srivastav|     Chandra Path|1981-01-25|Female|+91 2960004518|  India|Surendranagar Dud...|  111966|     S102|       N|2001-01-25|2005-07-13|
|SUBID10015|   Bhagvan|  Srivastav|            Edwin|1966-07-24|Female|+91 0297693485|  India|          Bhimavaram|  436513|     S105|       Y|1986-07-24|1988-02-04|
|SUBID10016| Amritkala|  Srivastav|        Guha Path|1933-11-20|Female|+91 0537157280|  India|              Meerut|  863467|     S106|       Y|1953-11-20|1955-07-29|
|SUBID10017|    Bandhu|       Seth|        Varughese|1996-10-15|  Male|+91 0695289163|  India|           Chinsurah|  136713|     S108|       N|2016-10-15|2018-06-08|
|SUBID10018|Bhagavaana|      Kumar|    Kulkarni Zila|1935-09-16|Female|+91 6071745855|  India|        Shahjahanpur|  597276|     S101|       N|1955-09-16|1958-05-31|
|SUBID10019|        NA|     Maurya|     Sharaf Nagar|1924-11-09|Female|+91 8906694405|  India|            Jabalpur|  958538|     S104|       N|1944-11-09|1951-10-14|
+----------+----------+-----------+-----------------+----------+------+--------------+-------+--------------------+--------+---------+--------+----------+----------+
only showing top 20 rows

### Null Values before and after Replacement

In [0]:
null_counts_before = sub_df.select([col(c).isNull().cast("int").alias(c) for c in sub_df.columns])\
    .agg(*[F.sum(c).alias(c) for c in sub_df.columns])

# Count null values after replacement
null_counts_after = sub_cleaned.select([col(c).isNull().cast("int").alias(c) for c in sub_cleaned.columns])\
    .agg(*[F.sum(c).alias(c) for c in sub_cleaned.columns])

# Show the counts before and after
print("Null counts before replacement:")
null_counts_before.show()

print("Null counts after replacement:")
null_counts_after.show()

Null counts before replacement:
+-------+----------+---------+------+----------+------+-----+-------+----+--------+---------+--------+--------+---------+
|sub _id|first_name|last_name|Street|Birth_date|Gender|Phone|Country|City|Zip Code|Subgrp_id|Elig_ind|eff_date|term_date|
+-------+----------+---------+------+----------+------+-----+-------+----+--------+---------+--------+--------+---------+
|      0|        27|        0|     0|         0|     0|    3|      0|   0|       0|        2|       4|       0|        0|
+-------+----------+---------+------+----------+------+-----+-------+----+--------+---------+--------+--------+---------+

Null counts after replacement:
+-------+----------+---------+------+----------+------+-----+-------+----+--------+---------+--------+--------+---------+
|sub _id|first_name|last_name|Street|Birth_date|Gender|Phone|Country|City|Zip Code|Subgrp_id|Elig_ind|eff_date|term_date|
+-------+----------+---------+------+----------+------+-----+-------+----+--------+---------+--------+--------+---------+
|      0|         0|        0|     0|         0|     0|    0|      0|   0|       0|        0|       0|       0|        0|
+-------+----------+---------+------+----------+------+-----+-------+----+--------+---------+--------+--------+---------+

### Checking Duplicates & dropping them

In [0]:

df6 = sub_df.withColumnRenamed("sub _id", "subscriber_id")
df7 = df6.groupBy("subscriber_id").count().orderBy(desc("count"))
df8 = df7.filter(col("count")> 1)
df7.show()
df8.show()

+-------------+-----+
|subscriber_id|count|
+-------------+-----+
|   SUBID10023|    1|
|   SUBID10059|    1|
|   SUBID10078|    1|
|   SUBID10083|    1|
|   SUBID10046|    1|
|   SUBID10084|    1|
|   SUBID10090|    1|
|    SUBID1034|    1|
|   SUBID10018|    1|
|    SUBID1065|    1|
|   SUBID10017|    1|
|   SUBID10057|    1|
|   SUBID10007|    1|
|   SUBID10089|    1|
|   SUBID10066|    1|
|   SUBID10071|    1|
|   SUBID10070|    1|
|   SUBID10094|    1|
|   SUBID10051|    1|
|   SUBID10055|    1|
+-------------+-----+
only showing top 20 rows

+-------------+-----+
|subscriber_id|count|
+-------------+-----+
+-------------+-----+

## Claims Data

In [0]:
claims_df = spark.read.options(header= "True", inferSchema = "True").json("s3://takeobucket/capstone/claims/claims (1).json")
claims_df.show()

+-----------------+----------+------------+----------+--------+----------------+----------------+----------+
|Claim_Or_Rejected|    SUB_ID|claim_amount|claim_date|claim_id|      claim_type|    disease_name|patient_id|
+-----------------+----------+------------+----------+--------+----------------+----------------+----------+
|                N| SUBID1000|       79874|1949-03-14|       0| claims of value|    Galactosemia|    187158|
|              NaN|SUBID10001|      151142|1970-03-16|       1|claims of policy|  Bladder cancer|    112766|
|              NaN|SUBID10002|       59924|2008-02-03|       2| claims of value|   Kidney cancer|    199252|
|              NaN|SUBID10003|      143120|1995-02-08|       3|  claims of fact|         Suicide|    133424|
|                Y|SUBID10004|      168634|1967-05-23|       4| claims of value|    Food allergy|    172579|
|              NaN|SUBID10005|       64840|1991-10-04|       5|claims of policy|        Whiplash|    171320|
|                N| SUBID1006|       26800|1991-03-26|       6|  claims of fact|      Sunbathing|    107794|
|              NaN|SUBID10007|      177186|1946-09-05|       7| claims of value|Drug consumption|    130339|
|                N|SUBID10008|      141123|1966-06-20|       8|  claims of fact|          Dengue|    110377|
|                N|SUBID10009|       88540|1945-12-29|       9| claims of value|    Head banging|    149367|
|                N| SUBID1010|       29150|1999-01-25|      10| claims of value| Fanconi anaemia|    156168|
|                Y|SUBID10011|       40897|1975-02-08|      11| claims of value|   Breast cancer|    114241|
|              NaN|SUBID10012|       75983|1985-02-12|      12| claims of value|         Anthrax|    146382|
|              NaN|SUBID10013|      192340|2014-07-30|      13|  claims of fact| Cystic fibrosis|    132748|
|                N|SUBID10014|      118628|2003-12-18|      14| claims of value|    Galactosemia|    167340|
|                Y|SUBID10015|      100224|1986-08-02|      15| claims of value|          Dengue|    135184|
|                N|SUBID10016|       42860|1955-01-20|      16| claims of value|        Smallpox|    179662|
|                N|SUBID10017|      161786|2017-06-01|      17|claims of policy|  Pollen allergy|    184479|
|              NaN|SUBID10018|       66129|1956-01-04|      18|  claims of fact|   Breast cancer|    156988|
|              NaN|SUBID10019|      182552|1948-07-26|      19| claims of value|        Glaucoma|    132870|
+-----------------+----------+------------+----------+--------+----------------+----------------+----------+
only showing top 20 rows

###Checking and counting for Null values in claims table

In [0]:

df5 = claims_df.select([count(when((col(c).contains('None')) | 
                                (col(c).contains('NULL')) | 
                                (col(c).contains('NaN')) |
                                (col(c) == '') | 
                                col(c).isNull(), 
                               True)
                            ).alias(c)
                    for c in claims_df.columns])
df5.show()

+-----------------+------+------------+----------+--------+----------+------------+----------+
|Claim_Or_Rejected|SUB_ID|claim_amount|claim_date|claim_id|claim_type|disease_name|patient_id|
+-----------------+------+------------+----------+--------+----------+------------+----------+
|               30|     0|           0|         0|       0|         0|           0|         0|
+-----------------+------+------------+----------+--------+----------+------------+----------+

### Replacing Null Values

In [0]:
null_representations = ['None', 'null', ' ', 'isnull','NaN']

claim_cleaned = claims_df
for con in claims_df.columns:
    # Replacing representations of null values with "NA"
    claim_cleaned = claim_cleaned.withColumn(con, when(col(con).isin(null_representations) | col(con).isNull(), "NA").otherwise(col(con)))
claim_cleaned.show()

+-----------------+----------+------------+----------+--------+----------------+----------------+----------+
|Claim_Or_Rejected|    SUB_ID|claim_amount|claim_date|claim_id|      claim_type|    disease_name|patient_id|
+-----------------+----------+------------+----------+--------+----------------+----------------+----------+
|                N| SUBID1000|       79874|1949-03-14|       0| claims of value|    Galactosemia|    187158|
|               NA|SUBID10001|      151142|1970-03-16|       1|claims of policy|  Bladder cancer|    112766|
|               NA|SUBID10002|       59924|2008-02-03|       2| claims of value|   Kidney cancer|    199252|
|               NA|SUBID10003|      143120|1995-02-08|       3|  claims of fact|         Suicide|    133424|
|                Y|SUBID10004|      168634|1967-05-23|       4| claims of value|    Food allergy|    172579|
|               NA|SUBID10005|       64840|1991-10-04|       5|claims of policy|        Whiplash|    171320|
|                N| SUBID1006|       26800|1991-03-26|       6|  claims of fact|      Sunbathing|    107794|
|               NA|SUBID10007|      177186|1946-09-05|       7| claims of value|Drug consumption|    130339|
|                N|SUBID10008|      141123|1966-06-20|       8|  claims of fact|          Dengue|    110377|
|                N|SUBID10009|       88540|1945-12-29|       9| claims of value|    Head banging|    149367|
|                N| SUBID1010|       29150|1999-01-25|      10| claims of value| Fanconi anaemia|    156168|
|                Y|SUBID10011|       40897|1975-02-08|      11| claims of value|   Breast cancer|    114241|
|               NA|SUBID10012|       75983|1985-02-12|      12| claims of value|         Anthrax|    146382|
|               NA|SUBID10013|      192340|2014-07-30|      13|  claims of fact| Cystic fibrosis|    132748|
|                N|SUBID10014|      118628|2003-12-18|      14| claims of value|    Galactosemia|    167340|
|                Y|SUBID10015|      100224|1986-08-02|      15| claims of value|          Dengue|    135184|
|                N|SUBID10016|       42860|1955-01-20|      16| claims of value|        Smallpox|    179662|
|                N|SUBID10017|      161786|2017-06-01|      17|claims of policy|  Pollen allergy|    184479|
|               NA|SUBID10018|       66129|1956-01-04|      18|  claims of fact|   Breast cancer|    156988|
|               NA|SUBID10019|      182552|1948-07-26|      19| claims of value|        Glaucoma|    132870|
+-----------------+----------+------------+----------+--------+----------------+----------------+----------+
only showing top 20 rows

### NaN Values before and after Replacement

In [0]:

nan_counts_before = claims_df.select([col(c).isin('NaN').cast("int").alias(c) for c in claims_df.columns]) \
    .agg(*[F.sum(c).alias(c) for c in claims_df.columns])


nan_counts_after = claim_cleaned.select([col(c).isin('NaN').cast("int").alias(c) for c in claim_cleaned.columns]) \
    .agg(*[F.sum(c).alias(c) for c in claim_cleaned.columns])

print("'NaN' counts before replacement:")
nan_counts_before.show()

print("'NaN' counts after replacement:")
nan_counts_after.show()

'NaN' counts before replacement:
+-----------------+------+------------+----------+--------+----------+------------+----------+
|Claim_Or_Rejected|SUB_ID|claim_amount|claim_date|claim_id|claim_type|disease_name|patient_id|
+-----------------+------+------------+----------+--------+----------+------------+----------+
|               30|     0|           0|         0|       0|         0|           0|         0|
+-----------------+------+------------+----------+--------+----------+------------+----------+

'NaN' counts after replacement:
+-----------------+------+------------+----------+--------+----------+------------+----------+
|Claim_Or_Rejected|SUB_ID|claim_amount|claim_date|claim_id|claim_type|disease_name|patient_id|
+-----------------+------+------------+----------+--------+----------+------------+----------+
|                0|     0|           0|         0|       0|         0|           0|         0|
+-----------------+------+------------+----------+--------+----------+------------+----------+

### Checking Duplicates & dropping them

In [0]:
df6 = df5.groupBy("claim_id").count()
df7 = df6.filter(col("count")> 1)
df6.show()
#there are no duplicate entries

+--------+-----+
|claim_id|count|
+--------+-----+
|       0|    1|
+--------+-----+

## Grp_SubGrp Table

In [0]:
grp_df = spark.read.options(header= "True", inferSchema = "True").csv("s3://takeobucket/capstone/grp_subgrp/grpsubgrp.csv")
grp_df.show()

+---------+------+
|SubGrp_ID|Grp_Id|
+---------+------+
|     S101|GRP101|
|     S101|GRP105|
|     S102|GRP110|
|     S102|GRP150|
|     S102|GRP136|
|     S103|GRP122|
|     S103|GRP108|
|     S103|GRP138|
|     S103|GRP148|
|     S104|GRP103|
|     S104|GRP113|
|     S104|GRP123|
|     S104|GRP133|
|     S104|GRP143|
|     S105|GRP153|
|     S105|GRP104|
|     S105|GRP114|
|     S105|GRP124|
|     S106|GRP117|
|     S106|GRP127|
+---------+------+
only showing top 20 rows

###Checking and counting for Null values in grp_subGrp table

In [0]:

df5 = grp_df.select([count(when((col(c).contains('None')) | 
                                (col(c).contains('NULL')) |
                                 (col(c).contains('NaN')) | 
                                (col(c) == '') | 
                                col(c).isNull(), 
                               True)
                            ).alias(c)
                    for c in grp_df.columns])
df5.show()
# no null values

+---------+------+
|SubGrp_ID|Grp_Id|
+---------+------+
|        0|     0|
+---------+------+

##Hospital data

In [0]:
hosp_df = spark.read.options(header= "True", inferSchema = "True").csv("s3://takeobucket/capstone/hospital/hospital.csv")
hosp_df.show()

+-----------+--------------------+----------+-----------+-------+
|Hospital_id|       Hospital_name|      city|      state|country|
+-----------+--------------------+----------+-----------+-------+
|      H1000|All India Institu...| New Delhi|        NaN|  India|
|      H1001|Medanta The Medicity|   Gurgaon|    Haryana|  India|
|      H1002|The Christian Med...|   Vellore| Tamil Nadu|  India|
|      H1003|PGIMER - Postgrad...|Chandigarh|    Haryana|  India|
|      H1004|Apollo Hospital -...|   Chennai| Tamil Nadu|  India|
|      H1005|P. D. Hinduja Nat...|    Mumbai|Maharashtra|  India|
|      H1006|Breach Candy Hosp...|    Mumbai|Maharashtra|  India|
|      H1007|Fortis Flt. Lt. R...| New Delhi|        NaN|  India|
|      H1008|King Edward Memor...|    Mumbai|Maharashtra|  India|
|      H1009|Indraprastha Apol...|     Delhi|        NaN|  India|
|      H1010|Lilavati Hospital...|    Mumbai|Maharashtra|  India|
|      H1011|Sir Ganga Ram Hos...|     Delhi|        NaN|  India|
|      H1012|Bombay Hospital &...|    Mumbai|Maharashtra|  India|
|      H1013|Apollo Health Cit...| Hyderabad|  Telangana|  India|
|      H1014|Fortis Hiranandan...|    Mumbai|Maharashtra|  India|
|      H1015|Fortis Hospital M...|    Mumbai|Maharashtra|  India|
|      H1016|Jaslok Hospital a...|    Mumbai|Maharashtra|  India|
|      H1017|   Manipal Hospitals| Bengaluru|  Karnataka|  India|
|      H1018|Yashoda Hospital ...| Hyderabad|  Telangana|  India|
|      H1019|Apollo Hospitals ...| Bengaluru|  Karnataka|  India|
+-----------+--------------------+----------+-----------+-------+

###Checking and counting for Null values in grp_subGrp table

In [0]:
from pyspark.sql.functions import col,when,count,desc
df5 = hosp_df.select([count(when((col(c).contains('None')) | 
                                (col(c).contains('NULL')) |
                                 (col(c).contains('NaN')) | 
                                (col(c) == '') | 
                                col(c).isNull(), 
                               True)
                            ).alias(c)
                    for c in hosp_df.columns])
df5.show()

+-----------+-------------+----+-----+-------+
|Hospital_id|Hospital_name|city|state|country|
+-----------+-------------+----+-----+-------+
|          0|            0|   0|    4|      0|
+-----------+-------------+----+-----+-------+

## Disease Data

In [0]:
dis_df = spark.read.options(header= "True", inferSchema = "True").csv("s3://takeobucket/capstone/disease/disease.csv")
dis_df.show()

+--------+-----------+--------------------+
|SubGrpID| Disease_ID|        Disease_name|
+--------+-----------+--------------------+
|    S101|     110001|            Beriberi|
|    S101|     110002|              Scurvy|
|    S101|     110003|              Goitre|
|    S101|     110004|        Osteoporosis|
|    S101|     110005|             Rickets|
|    S101|     110006|             Anaemia|
|    S102|     110007|           Fractures|
|    S102|     110008|        Heart Attack|
|    S102|     110009|               Burns|
|    S102|     110010|             Choking|
|    S102|     110011|              Stroke|
|    S102|     110012|      Food Poisoning|
|    S103|     110013|              Asthma|
|    S103|     110014|            Glaucoma|
|    S103|     110015|            Diabetes|
|    S103|     110016|             Amnesia|
|    S103|     110017|         Parasomnias|
|    S103|     110018|Neurocognitive di...|
|    S104|     110019|             Vertigo|
|    S104|     110020|          Lymphedema|
+--------+-----------+--------------------+
only showing top 20 rows

###Checking and counting for Null values in grp_subGrp table

In [0]:

df5 = dis_df.select([count(when((col(c).contains('None')) | 
                                (col(c).contains('NULL')) |
                                 (col(c).contains('NaN')) | 
                                (col(c) == '') | 
                                col(c).isNull(), 
                               True)
                            ).alias(c)
                    for c in dis_df.columns])
df5.show()

+--------+-----------+------------+
|SubGrpID| Disease_ID|Disease_name|
+--------+-----------+------------+
|       0|          0|           0|
+--------+-----------+------------+

## SubGroup Data

In [0]:
sbg_df = spark.read.options(header= "True", inferSchema = "True").csv("s3://takeobucket/capstone/subgroup/subgroup.csv")
sbg_df.show()

+---------+-------------------+---------------+
|SubGrp_id|        SubGrp_Name|Monthly_Premium|
+---------+-------------------+---------------+
|     S101|Deficiency Diseases|           3000|
|     S102|           Accident|           1000|
|     S103|         Physiology|           2000|
|     S104|            Therapy|           1500|
|     S105|          Allergies|           2300|
|     S106|     Self inflicted|           1200|
|     S107|             Cancer|           3200|
|     S108| Infectious disease|           1500|
|     S109|         Hereditary|           2000|
|     S110|              Viral|           1000|
+---------+-------------------+---------------+

###Checking and counting for Null values in grp_subGrp table

In [0]:

df5 = sbg_df.select([count(when((col(c).contains('None')) | 
                                (col(c).contains('NULL')) |
                                 (col(c).contains('NaN')) | 
                                (col(c) == '') | 
                                col(c).isNull(), 
                               True)
                            ).alias(c)
                    for c in sbg_df.columns])
df5.show()

+---------+-----------+---------------+
|SubGrp_id|SubGrp_Name|Monthly_Premium|
+---------+-----------+---------------+
|        0|          0|              0|
+---------+-----------+---------------+

## Group data

In [0]:
gp_df = spark.read.options(header= "True", inferSchema = "True").csv("s3://takeobucket/capstone/group/group.csv")
gp_df.show()

+-------+---------------+-------+------+--------------------+--------+---------+----+
|Country|premium_written|zipcode|Grp_Id|            Grp_Name|Grp_Type|     city|year|
+-------+---------------+-------+------+--------------------+--------+---------+----+
|  India|          72000| 482018|GRP101|Life Insurance Co...|   Govt.|   Mumbai|1956|
|  India|          45000| 482049|GRP102|HDFC Standard Lif...| Private|   Mumbai|2000|
|  India|          64000| 482030|GRP103|Max Life Insuranc...| Private|    Delhi|2000|
|  India|          59000| 482028|GRP104|ICICI Prudential ...| Private|   Mumbai|2000|
|  India|          37000| 482014|GRP105|Kotak Mahindra Li...| Private|   Mumbai|2001|
|  India|          89000| 482011|GRP106|Aditya Birla Sun ...| Private|   Mumbai|2000|
|  India|          70000| 482006|GRP107|TATA AIG Life Ins...| Private|   Mumbai|2001|
|  India|          52000| 482034|GRP108|SBI Life Insuranc...| Private|   Mumbai|2001|
|  India|          78000| 482032|GRP109|Exide Life Insura...| Private|Bangalore|2001|
|  India|          48000| 482015|GRP110|Bajaj Allianz Lif...| Private|     Pune|2001|
|  India|          57000| 482011|GRP111|PNB MetLife India...| Private|   Mumbai|2001|
|  India|          57000| 482022|GRP112|Reliance Nippon L...| Private|   Mumbai|2001|
|  India|          64000| 482009|GRP113|Aviva Life Insura...| Private| Gurugram|2002|
|  India|          33000| 482043|GRP114|Sahara India Life...| Private|  Lucknow|2004|
|  India|          79000| 482036|GRP115|Shriram Life Insu...| Private|Hyderabad|2005|
|  India|          32000| 482002|GRP116|Bharti AXA Life I...| Private|   Mumbai|2008|
|  India|          59000| 482017|GRP117|Future Generali I...| Private|   Mumbai|2007|
|  India|          97000| 482023|GRP118|IDBI Federal Life...| Private|   Mumbai|2008|
|  India|          47000| 482046|GRP119|Canara HSBC Orien...| Private| Gurugram|2008|
|  India|          50000| 482017|GRP120|Aegon Life Insura...| Private|   Mumbai|2008|
+-------+---------------+-------+------+--------------------+--------+---------+----+
only showing top 20 rows

###Checking and counting for Null values in grp_subGrp table

In [0]:

df5 = gp_df.select([count(when((col(c).contains('None')) | 
                                (col(c).contains('NULL')) |
                                 (col(c).contains('NaN')) | 
                                (col(c) == '') | 
                                col(c).isNull(), 
                               True)
                            ).alias(c)
                    for c in gp_df.columns])
df5.show()

+-------+---------------+-------+------+--------+--------+----+----+
|Country|premium_written|zipcode|Grp_Id|Grp_Name|Grp_Type|city|year|
+-------+---------------+-------+------+--------+--------+----+----+
|      0|              0|      0|     0|       0|       0|   0|   0|
+-------+---------------+-------+------+--------+--------+----+----+